*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden;
    background:#020817;
    color:white;
}

.background{
    position:fixed;
    inset:0;
    background:linear-gradient(to bottom,#020817,#071a35,#000);
}

.stars{
    position:absolute;
    inset:0;
    background-image:
    radial-gradient(white 1px,transparent 1px);
    background-size:45px 45px;
    opacity:.35;
    animation:estrellas 40s linear infinite;
}

@keyframes estrellas{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-300px);
    }

}

.moon{

    width:130px;
    height:130px;

    border-radius:50%;

    background:#fff8c6;

    position:absolute;

    top:60px;

    right:60px;

    box-shadow:
    0 0 40px #fff,
    0 0 90px #fff6b0;

}

.pantalla{

    position:relative;

    z-index:2;

    width:100%;

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;

}

h1{

    color:#ffd54f;

    font-size:52px;

    text-shadow:0 0 20px gold;

}

h2{

    margin-top:15px;

    font-size:30px;

}

p{

    margin-top:20px;

    max-width:600px;

    font-size:22px;

    line-height:1.6;

}

button{

    margin-top:40px;

    padding:18px 40px;

    border:none;

    border-radius:40px;

    font-size:20px;

    background:#ff3d6e;

    color:white;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 0 20px #ff3d6e;

}

button:hover{

    transform:scale(1.08);

}

.oculto{

    display:none;

}

#contador{

    margin-top:40px;

    font-size:90px;

    color:#FFD54F;

    text-shadow:0 0 20px gold;

    font-weight:bold;

}

#flores{

    margin-top:40px;

    display:flex;

    gap:30px;

}

.girasol{

    width:90px;

    height:90px;

    border-radius:50%;

    background:#FFD54F;

    box-shadow:0 0 25px gold;

    transform:scale(0);

}

#carta{

    margin-top:40px;

}

.papel{

    background:white;

    color:#333;

    width:90%;

    max-width:550px;

    padding:30px;

    border-radius:20px;

    box-shadow:0 0 30px rgba(255,255,255,.3);

}

.papel h2{

    color:#ff3d6e;

}

#texto{

    margin-top:20px;

    white-space:pre-line;

    line-height:1.8;

}
