body{
margin:0;
padding:0;
background:linear-gradient(to bottom,#000428,#004e92);
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
color:white;
}

.stars{
position:fixed;
width:100%;
height:100%;
background-image:
radial-gradient(white 1px,transparent 1px),
radial-gradient(white 1px,transparent 1px);
background-size:40px 40px,80px 80px;
opacity:.4;
animation:brillar 4s infinite alternate;
}

@keyframes brillar{
from{opacity:.2;}
to{opacity:.7;}
}

.contenedor{
text-align:center;
z-index:2;
padding:20px;
}

h1{
font-size:45px;
color:#FFD700;
text-shadow:0 0 20px gold;
animation:latir 2s infinite;
}

h2{
font-weight:normal;
}

p{
font-size:22px;
}

button{
margin-top:20px;
padding:15px 35px;
font-size:20px;
border:none;
border-radius:30px;
background:#ff2d75;
color:white;
cursor:pointer;
transition:.3s;
box-shadow:0 0 20px #ff2d75;
}

button:hover{
transform:scale(1.08);
}

#mensaje{
display:none;
margin-top:35px;
animation:aparecer 1s;
}

.flores{
font-size:70px;
margin-top:20px;
animation:flotar 2s infinite alternate;
}

@keyframes aparecer{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes flotar{
from{
transform:translateY(0);
}
to{
transform:translateY(-15px);
}
}

@keyframes latir{
0%{
transform:scale(1);
}
50%{
transform:scale(1.08);
}
100%{
transform:scale(1);
}
}
